* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/img/background.jpg) rgb(250, 250, 250);
  background-size: cover;
}

p {
  text-align: justify;
}

.navbar {
  background: gray;
}

.container {
  background: linear-gradient(rgb(230, 230, 230), rgb(245, 245, 245))50%;
  margin: 50px 0 50px 0;
}

#projetos {
  padding-bottom: 1px;
}

.titulo {
  padding-top: 20px;
  margin-bottom: 30px;
}

.intro {
  margin-bottom: 50px;
}

.link {
  text-decoration: none;
  color: lightgray;
}

.colapse-title {
  margin: 15px 0;

}

.button .btn {
  width: 24.7%;
  height: 100%;
}

#projetos button {
  width: 24%;
}

i {
  margin-right: 5px;
}

.rodape {
  background: black;
  color: lightgray;
  padding-top: 30px;
}

li.rodape {
  color: lightgray;
  background: black;
  margin: 20px 0;
}

.btn-margin {
  margin-bottom: 20px;
}

figure.foto-legenda {
  position: relative;
  border: 8px solid #ffffff;
  box-shadow: 1px 1px 4px #000000;
}

figure.foto-legenda figcaption {
  opacity: 0;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, .4);
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: 1s;
}

.foto-legenda p, .foto-legenda h3 {
  text-align: center;
}

figure.foto-legenda:hover figcaption {
  opacity: 1;
}
